<footer class="bg-blue-950 text-white py-4 text-center" style='text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);'>
    <div class="flex justify-center space-x-4">
        <a href="/about" class="hover:text-gray-300">About Us</a>
        <a href="/contact" class="hover:text-gray-300">Contact</a>
        <a href="/terms" class="hover:text-gray-300">Terms of Service</a>
        <a href="/privacy" class="hover:text-gray-300">Privacy Policy</a>
        <p>&copy; 2023 Final Score</p>
    </div>
    
</footer>