<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Add League</title>
</head>

<body class="flex flex-col min-h-screen">
    <%- include('partials/header') %>

    <div class="flex-grow flex bg-gradient-to-r from-gray-500 via-gray-400 to-gray-300">
        <div class="w-1/4 p-8 bg-gray-800">
            <h1 class="text-3xl font-semibold text-white mb-4">Add a New League</h1>
            <p class="text-sm text-white">Fill out the form to add a new league. Make sure to provide accurate information to create a successful league entry.</p>
        </div>

        <div class="flex-grow flex items-center justify-center" style="background-image: url('/images/age-appropriate-sports-for-kids.webp'); background-size: cover; background-position: center;">
            <div class="max-w-md w-full p-8 bg-white rounded-lg shadow-lg">
                <form action="/leagues/create" method="POST">
                    <div class="mb-4">
                        <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                        <input type="text" id="name" name="leagueName" class="w-full form-input border" required>
                    </div>

                    <div class="mb-4">
                        <label for="sport" class="block text-sm font-medium text-gray-700">Sport</label>
                        <select id="sport" name="sport" class="w-full form-select border" required>
                            <option value="Soccer">Soccer</option>
                            <option value="Football">Football</option>
                            <option value="Basketball">Basketball</option>
                            <option value="Tennis">Tennis</option>
                            <option value="VolleyBall">VolleyBall</option>
                            <option value="Baseball">Baseball</option>
                            <option value="Softball">Softball</option>
                            <!-- Add more sports as needed -->
                        </select>
                    </div>

                    <div class="mb-4">
                        <label for="startDate" class="block text-sm font-medium text-gray-700">Start Date</label>
                        <input type="date" id="startDate" name="startDate" class="w-full form-input border" required>
                    </div>

                    <div class="mb-4">
                        <label for="endDate" class="block text-sm font-medium text-gray-700">Finish Date</label>
                        <input type="date" id="endDate" name="endDate" class="w-full form-input border" required>
                    </div>

                    <div class="mt-6 flex justify-center">
                        <button type="submit" class="bg-indigo-500 hover:bg-indigo-700 text-white font-semibold py-2 px-4 rounded">Add League</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>
</body>

</html>
