<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Add League</title>
</head>
<body class="flex flex-col min-h-screen">
    <%- include('partials/header') %>

     
    <div class="flex-grow flex items-center justify-center" >
        <h1 class="text-3xl pr-5 font-semibold text-center ">Add a New League</h1>
        <form action="/leagues/create" method="POST" class="mt-3 p-3 bg-white rounded-lg shadow-lg max-w-md w-full">
            <div class="mb-4">
                <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                <input type="text" id="name" name="leagueName" class="w-full form-input border" required>
            </div>
            <div class="mb-4">
                <label for="sport" class="block text-sm font-medium text-gray-700">Sport</label>
                <input type="text" id="sport" name="sport" class="w-full form-input border" required>
            </div>
            <div class="mb-4">
                <label for="startDate" class="block text-sm font-medium text-gray-700">Start Date</label>
                <input type="date" id="startDate" name="startDate" class="w-full form-input border" required>
            </div>
            <div class="mb-4">
                <label for="endDate" class="block text-sm font-medium text-gray-700">Finish Date</label>
                <input type="date" id="endDate" name="endDate" class="w-full form-input border" required>
            </div>
            <div class="mt-6 flex justify-center">
            <button type="submit" class="bg-indigo-500 hover:bg-indigo-700 text-white font-semibold py-2 px-4 rounded">Add League</button>
            </div>  
        </form>
        
    </div>
    <%- include('partials/footer') %>
</body>
</html>