<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Final Score</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    
    
</head>

<body class="bg-gray-100">

    

    <header>
        <nav id="navi" class="py-4 no-underline">
            <div class="container mx-auto flex items-center justify-between">
                <div class="flex items-center no-underline space-x-4">
                    <h4 class="font-bold">Final<span>Score</span></h4>
                    <a href="/dashboard" class="text-white flex items-center group" style='text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);'>
                        <span class="text-white text-base font-semibold group-hover:text-blue-300 text-lg">Dashboard</span>
                    </a>
                    <a href="#features" class="text-white text-base font-semibold hover:text-blue-300" style='text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);'>Features</a>
                    <a href="#about" class="text-white text-base font-semibold hover:text-blue-300" style='text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);'>About</a>
                </div>
                <div class="flex items-center">
                    <span class="material-icons text-white mr-1" style='text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);'>person</span>
                    <a href="/login" class="no-underline text-white text-base font-semibold hover:text-blue-300 ml-auto" style='text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);'>Login</a>
                </div>
            </div>
        </nav>
    </header>
    
    


<!--Banner-->
<section id="banner" class="bg-gray-800  text-white py-16">
    <div class="container mx-auto px-4 md:px-24 lg:px-8">
        <div class="flex flex-col items-center justify-between xl:flex-row">
            <div class="w-full max-w-xl mb-12 xl:mb-0 xl:pr-16 xl:w-7/12">
                <h1 id="team-heading" class="max-w-lg mb-6 font-sans text-4xl font-bold tracking-tight sm:text-5xl sm:leading-none md:leading-tight" style='text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);'>Spend less time worrying about your <span class="text-green-400">soccer team.</span></h1>
                <p class="max-w-xl mb-4 text-base font-normal text-white md:text-xl">Build your roster, work on schedules, and make sure your players show up on time. Get back to enjoying the fun. </p>
                <ul class="actions special pb-16">
                    <li><a href="/signup" class="button primary">Sign Up Today</a></li>
                    <li><a href="#about" class="button">Learn More</a></li>
                </ul>
                <h3 class="mt-4 mb-4 text-3xl font-bold text-green-300 text-left" style='text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);'>Loved and Trusted by</h3>
                <dl class="flex -mx-8 -mt-8">
                    <div class="flex flex-col px-8 pt-8">
                        <dt class="order-2 text-base font-medium text-white" style='text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);'>Teams</dt>
                        <dd class="order-1 text-2xl font-extrabold text-white sm:text-3xl" style='text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);'>30K+</dd>
                    </div>
                    <div class="flex flex-col px-8 pt-8">
                        <dt class="order-2 text-base font-medium text-white" style='text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);'>Managers</dt>
                        <dd class="order-1 text-2xl font-extrabold text-white sm:text-3xl" style='text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);'>60K+</dd>
                    </div>
                    <div class="flex flex-col px-8 pt-8">
                        <dt class="order-2 text-base font-medium text-white" style='text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);'>Players</dt>
                        <dd class="order-1 text-2xl font-extrabold text-white sm:text-3xl" style='text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);'>700K+</dd>
                    </div>
                </dl>
            </div>
            <div class="w-full max-w-xl xl:px-8 xl:w-5/12">
                <div class="bg-white rounded shadow-2xl p-7 sm:p-10">
                    <h3 class="mb-1 text-xl font-semibold sm:text-center sm:mb-1 sm:text-2xl ">Create your team in minutes</h3>
                    <h4 class="mb-4 text-sm sm:text-center sm:mb-8 sm:text-lg ">Free to use. No credit card required.</h4>
                    <form>
                        <div class="mb-1 sm:mb-2">
                            <label for="name" class="inline-block mb-1 font-medium">Your Name</label>
                            <input type="text" placeholder="Lionel Messi" required="" class="flex-grow w-full h-12 px-4 mb-2 transition duration-200 bg-white border border-gray-300 rounded shadow-sm appearance-none focus:border-blue-400 focus:outline-none focus:ring-indigo-200" id="name" name="name" value="">
                        </div>
                        <div class="mb-1 sm:mb-2">
                            <label for="email" class="inline-block mb-1 font-medium">Your E-mail</label>
                            <input type="email" placeholder="messi10@goat.com" required="" class="flex-grow w-full h-12 px-4 mb-2 transition duration-200 bg-white border border-gray-300 rounded shadow-sm appearance-none focus:border-blue-400 focus:outline-none focus:ring-indigo-200" id="email" name="email" value="">
                        </div>
                        <div class="mt-6 mb-2 sm:mb-4">
                            <button type="submit" class="inline-flex items-center justify-center w-full h-12 px-6 font-medium tracking-wide text-white transition duration-200 bg-blue-700 rounded shadow-md hover:bg-blue-800 focus:shadow-outline focus:outline-none">Create your FREE team</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

        
        


        <!-- Main -->
        <section id="main" class="container mx-auto pb-16">

            <section class="box special bg-whiteshadow-lg">
                <header class="major text-center">
                    <h2 class="text-6xl ">Introducing the ultimate tool
                        <br /> for anyone organizing team sports.
                    </h2>
                    <p class="mt-4">The ultimate tool in the palm of your hand. Everything you need to organize your
                        league. Take the first step and sign up today!</p>
                </header>
                <span class="image featured"><img src="/images/sportsBanner.jpg" alt="" /></span>
            </section>

            <section id="features" class="box special features bg-gray-100 p-8">
                <div class="features-row">
                    <section class="w-full md:w-1/2">
                        <span class="icon solid major fa-trophy accent2"></span>
                        <h3 class="text-xl font-bold mb-2">Create Leagues</h3>
                        <p>Organize and manage your sport leagues effortlessly. Our intuitive platform allows you to
                            create and customize leagues tailored to your preferences. Enjoy a seamless league creation
                            experience that brings your sporting community together.</p>
                    </section>
                    <section class="w-full md:w-1/2">
                        <span class="icon solid major fa-users accent3"></span>
                        <h3 class="text-xl font-bold mb-2">Create Teams</h3>
                        <p>Build powerful teams with ease. Our app enables you to create and manage teams efficiently.
                            Whether you're forming new squads or organizing existing ones, our user-friendly interface
                            makes the process smooth and enjoyable.</p>
                    </section>
                </div>
                <div class="features-row">
                    <section class="w-full md:w-1/2">
                        <span class="icon solid major fa-user-plus accent4"></span>
                        <h3 class="text-xl font-bold mb-2">Add Players</h3>
                        <p>Expand your roster effortlessly. Easily add and manage players to your teams, ensuring that
                            your league is filled with talented individuals. Our app simplifies the player management
                            process, allowing you to focus on the game.</p>
                    </section>
                    <section class="w-full md:w-1/2">
                        <span class="icon solid major fa-calendar accent5"></span>
                        <h3 class="text-xl font-bold mb-2">Schedule Games</h3>
                        <p>Take control of your game schedule. Effortlessly plan and organize matches with our
                            scheduling features. Ensure that your league's events run smoothly, keeping players and fans
                            engaged throughout the season.</p>
                    </section>
                </div>
            </section>

            <div class="row">
                <div class="col-6 col-12-narrower">
                    <section id="about" class="box special bg-white p-8 shadow-lg">
                        <span class="image featured"><img src="/images/workflow-apps.jpg" alt="" /></span>
                        <h3 class="text-xl font-bold mb-2">Simplify Your Workflow</h3>
                        <p>Streamline your sports league management with our powerful features. From league creation to
                            game scheduling, our app simplifies every aspect of your workflow. Spend less time managing
                            and more time enjoying the game.</p>
                        <ul class="actions special mt-4">
                            <li><a href="#" class="button alt bg-indigo-700 text-white">Learn More</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-6 col-12-narrower">
                    <section class="box special bg-white p-7 shadow-lg">
                        <span class="image featured"><img src="/images/team huddle.jpg" alt="" /></span>
                        <h3 class="text-xl font-bold ">Enhance Team Collaboration</h3>
                        <p>Foster teamwork and collaboration among your players. Our app provides tools to enhance
                            communication and coordination, ensuring that your teams perform at their best. Elevate the
                            overall experience for both players and fans.</p>
                        <ul class="actions special mt-4">
                            <li><a href="#" class="button alt bg-indigo-700 text-white">Learn More</a></li>
                        </ul>
                    </section>
                </div>
            </div>

        </section>

        <!-- CTA -->
        <section id="cta">

            <h2>Sign up for beta access!</h2>
            <p>If you are selected to participate in a beta test, you'll receive an email with information on how to
                sign in and provide feedback.</p>

            <form>
                <div class="row gtr">
                    <div class="row gtr-50 gtr-uniform">
                        <div class="col-8 col-12-mobilep">
                            <input type="email" name="email" id="email" placeholder="Email Address" />
                        </div>
                        <div class="col-4 col-12-mobilep">
                            <input type="submit" value="Sign Up" class="fit" />
                        </div>
                    </div>
            </form>

        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="#" class="icon brands fas fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Final Score. ALL RIGHTS RESERVED.</li>
                <li><a href="">About Final Score</a></li>
            </ul>
        </footer>

    

    <script src="/javascript/LandingJS/banner.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>