<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Final Score</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="landing is-preload bg-gray-100">

    <div id="page-wrapper" class="min-h-screen flex flex-col">

        <!-- Header -->

        <header id="header" class="alt bg-indigo-700  p-4">
            
            <nav id="nav">

                <ul>

                    <li class="relative">
                        <a href="/dashboard">Dashboard</a>

                    </li>
                    <li><a href="/login" class=" text-indigo-700">Login</a></li>
                </ul>
            </nav>
        </header>

        <!-- Banner -->
        <section id="banner" class="bg-gray-800 text-white pb-16 text-center py-16">
            <h2 class="text-4xl font-bold">Final Score</h2>
            <p class="mt-4">Spend less time worrying about the big game!</p>
            <ul class="actions special  pb-16">
                <li><a href="/signup" class="button primary">Sign Up Today</a></li>
                <li><a href="#" class="button">Learn More</a></li>
            </ul>
        </section>


        <!-- Main -->
        <section id="main" class="container mx-auto pb-16">

            <section class="box special bg-whiteshadow-lg">
                <header class="major text-center">
                    <h2 class="text-4xl ">Introducing the ultimate tool
                        <br /> for anyone organizing team sports.
                    </h2>
                    <p class="mt-4">The ultimate tool in the palm of your hand. Everything you need to organize your
                        league. Take the first step and sign up today!</p>
                </header>
                <span class="image featured"><img src="" alt="" /></span>
            </section>

            <section class="box special features bg-gray-100 p-8">
                <div class="features-row">
                    <section class="w-full md:w-1/2">
                        <span class="icon solid major fa-trophy accent2"></span>
                        <h3 class="text-xl font-bold mb-2">Create Leagues</h3>
                        <p>Organize and manage your sport leagues effortlessly. Our intuitive platform allows you to
                            create and customize leagues tailored to your preferences. Enjoy a seamless league creation
                            experience that brings your sporting community together.</p>
                    </section>
                    <section class="w-full md:w-1/2">
                        <span class="icon solid major fa-users accent3"></span>
                        <h3 class="text-xl font-bold mb-2">Create Teams</h3>
                        <p>Build powerful teams with ease. Our app enables you to create and manage teams efficiently.
                            Whether you're forming new squads or organizing existing ones, our user-friendly interface
                            makes the process smooth and enjoyable.</p>
                    </section>
                </div>
                <div class="features-row">
                    <section class="w-full md:w-1/2">
                        <span class="icon solid major fa-user-plus accent4"></span>
                        <h3 class="text-xl font-bold mb-2">Add Players</h3>
                        <p>Expand your roster effortlessly. Easily add and manage players to your teams, ensuring that
                            your league is filled with talented individuals. Our app simplifies the player management
                            process, allowing you to focus on the game.</p>
                    </section>
                    <section class="w-full md:w-1/2">
                        <span class="icon solid major fa-calendar accent5"></span>
                        <h3 class="text-xl font-bold mb-2">Schedule Games</h3>
                        <p>Take control of your game schedule. Effortlessly plan and organize matches with our
                            scheduling features. Ensure that your league's events run smoothly, keeping players and fans
                            engaged throughout the season.</p>
                    </section>
                </div>
            </section>

            <div class="row">
                <div class="col-6 col-12-narrower">
                    <section class="box special bg-white p-8 shadow-lg">
                        <span class="image featured"><img src="" alt="" /></span>
                        <h3 class="text-xl font-bold mb-2">Simplify Your Workflow</h3>
                        <p>Streamline your sports league management with our powerful features. From league creation to
                            game scheduling, our app simplifies every aspect of your workflow. Spend less time managing
                            and more time enjoying the game.</p>
                        <ul class="actions special mt-4">
                            <li><a href="#" class="button alt bg-indigo-700 text-white">Learn More</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-6 col-12-narrower">
                    <section class="box special bg-white p-8 shadow-lg">
                        <span class="image featured"><img src="" alt="" /></span>
                        <h3 class="text-xl font-bold mb-2">Enhance Team Collaboration</h3>
                        <p>Foster teamwork and collaboration among your players. Our app provides tools to enhance
                            communication and coordination, ensuring that your teams perform at their best. Elevate the
                            overall experience for both players and fans.</p>
                        <ul class="actions special mt-4">
                            <li><a href="#" class="button alt bg-indigo-700 text-white">Learn More</a></li>
                        </ul>
                    </section>
                </div>
            </div>

        </section>

        <!-- CTA -->
        <section id="cta">

            <h2>Sign up for beta access!</h2>
            <p>If you are selected to participate in a beta test, you'll receive an email with information on how to
                sign in and provide feedback.</p>

            <form>
                <div class="row gtr">
                    <div class="row gtr-50 gtr-uniform">
                        <div class="col-8 col-12-mobilep">
                            <input type="email" name="email" id="email" placeholder="Email Address" />
                        </div>
                        <div class="col-4 col-12-mobilep">
                            <input type="submit" value="Sign Up" class="fit" />
                        </div>
                    </div>
            </form>

        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="#" class="icon brands fas fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Final Score. ALL RIGHTS RESERVED.</li>
                <li><a href="">About Final Score</a></li>
            </ul>
        </footer>

    </div>



</body>

</html>